<div class="row">

    <h3>Existing Catalog Id - title</h3>
    {{#each allCatalogsData}}
    <div class="span8">
        
        <div id="data-visuals">{{this.id}} - {{this.title}} <span><button id='{{this.id}}' title='{{this.title}}' catid='{{this.id}}' >Update</button></span></div>
        <br/>
    </div>
    {{/each}}

    <hr/>
    <h3>Create new catalog</h3>
    <form action="/catalogs" method="POST">
        <input type="text" placeholder="title" name="title">
        <input type="text" disabled="true" placeholder="journal" name="journal" value="hardcoded journal">
        <input type="text" disabled="true" placeholder="publisher" name="publisher"  value="hardcoded publisher">
        <input type="text" disabled="true" placeholder="edition" name="edition" value="hardcoded edition">
        <input type="text" disabled="true" placeholder="author" name="author" value="hardcoded author">
        <input type="submit" value="Create New Catalog"/>
    </form>
</div>
<div>
     <hr/>
    <h3>Update catalog</h3>
    <form action="/catalogs" method="POST">
        <input id="inputTitle" type="text" placeholder="title" name="title">
        <input type="text" disabled="true" placeholder="journal" name="journal" value="hardcoded journal">
        <input type="text" disabled="true" placeholder="publisher" name="publisher"  value="hardcoded publisher">
        <input type="text" disabled="true" placeholder="edition" name="edition" value="hardcoded edition">
        <input type="text" disabled="true" placeholder="author" name="author" value="hardcoded author">

        <input type="hidden" name="id" id="catid" />
        <input type="submit" value="Update Catalog"/>
    </form>
</div>



<script>
    //the aim of this is to fill in the tittle input when update is clicked
    document.addEventListener('click', function(event) {
        if(event.target.localName == 'button'){
            var inputTitle = document.getElementById('inputTitle');
            var catid = document.getElementById('catid');

            inputTitle.value = event.target.attributes.title.value;
            catid.value = event.target.attributes.catid.value;
        }
    })
</script>